@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kanit', cursive;
	font-size: 22px;
}

li{
	list-style:none;
}

h4 {
    color: white;
    font-style: italic;
    text-shadow: 2px 1px black;
}

#container{
	width: 290px;
	text-align: center;
	height:auto;
	margin:4px auto;
}

#calculator{
	width: 234px;
	height: 265px;
	margin:0 auto;
	padding:2px;
	background-color: #988AFF;
}

.valueDisplay{
	margin:8px auto;
	width:95%;
	height:30px;
	font-size: 16px;
	overflow:hidden;
	text-align: right;
	color:#48484D;
	padding: 4px;
	background-color:#fff;
	box-shadow: inset -1px -1px 4px 1px #eee;
}

.numberRows button{
	width:50px;
	height:30px;
	border-radius:3px;
	color:#fff;
	background-color:#8231E8;
	cursor:pointer;
	float:left;
	margin: 0px -3px 5px 8px;
	line-height: 30px;
	text-align: center;
	box-shadow: 0px 3px 1px 0px #444651;
}

.numberRows button:hover{
	background-color: #CA42FF;
	transition:0.2s;
}

.numberRows button:active{
	box-shadow: 0px 1px 1px 0px #444651;
}

.calculate{
	width: 93.4% !important;
}